<fieldset>
    <div class="control-group">
        <label class="control-label">Hipchat room name</label>
        <div class="controls">
            <input type="text" name="check[hipchat]" value="<%= check.getPollerParam('hipchat') || '' %>" class="span8" placeholder="Names of a Hipchat rooms to notify, comma separated"/>
        </div>
    </div>
</fieldset>
